@import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Figtree:wght@400;500;600;700;800&family=Trispace:wght@200;300;400;600;700&display=swap');

body {
    font-family: 'Figtree', sans-serif;
    margin: auto;
    width: 50%;
    text-align: justify;
}

.gradient-text {
    background-image: linear-gradient(60deg, #7e43aa, #6681ea);
    background-clip: text;
    color: transparent;
  }

h1 {
    font-family: 'Figtree', sans-serif;
    font-size: 700;
    font-weight: bold;
}

h2 {
    font-family: 'Averia Serif Libre', cursive;
    font-size: 400;
}

h3 {
    font-family: 'Figtree', sans-serif;
    font-size: 600;
}

p {
    font-family: 'Figtree', sans-serif;
    font-size: 300;
}